CLIO_CLIENT_ID=
CLIO_CLIENT_SECRET=
CLIO_REDIRECT_PORT=5678
CLIO_AUTH_URL= https://app.clio.com/oauth/authorize #https://eu.app.clio.com/oauth/authorize
CLIO_TOKEN_URL=https://app.clio.com/oauth/token #https://eu.app.clio.com/oauth/token
CLIO_API_BASE=https://app.clio.com/api/v4 #https://eu.app.clio.com/api/v4
CLIO_REGION=us #eu
ENCRYPTION_KEY=